<!DOCTYPE html>
<html>
  <head>
    <title>Dipika Premsagar - Developer, Aspiring Web Designer</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://use.fontawesome.com/9e0eaee22d.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
      <a href="#" class="name">Dipika Premsagar</a>
      <nav>
       <%= link_to "Articles", posts_path %>
       <a href="#">Projects</a>
       <a href="contact.html">Contact</a>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
