<!DOCTYPE html>
<html>
  <head>
    <title>Dipika Premsagar - Developer, Aspiring Web Designer</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://use.fontawesome.com/9e0eaee22d.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
      <%= link_to "Dipika Premsagar", root_path, class:"name"%>
      <nav>
       <%= link_to "Articles", posts_path %>
       <%= link_to "Projects", projects_path %>
       <%= link_to "Contact", new_contact_path %>
       <% if user_signed_in? %>
         <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
      </nav>
    </header>
    <% if notice %>
    <p class="notice"><%= notice %></p>
    <% elsif alert %>
    <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
    <footer id="main_footer">
      <p class="copyright">
        &copy; 2016 Dipika Premsagar
      </p>
      <nav>
        <a href="https://www.linkedin.com/in/dipikavp" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a href="https://github.com/dipikavp" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://twitter.com/dipika_villia" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </nav>
    </footer>
  </body>
</html>
